﻿<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Signifi Media">
    <meta name="author" content="Signifi Media">
    <link rel="shortcut icon" href="/img/ico/favicon.ico">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="homePage">
    <div class="main-header-wrapper">
        <header class="main-header-content">
            <!--------- MAIN NAVIGATION ---------->
            <nav class="navbar " id="mainNav">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuHeader" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">Loopa Remarketing Logo</a>
                    </div><!-- ./navbar-header -->

                    <div class="collapse navbar-collapse" id="menuHeader">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dynamic Product Remarketing</a></li>
                                    <li><a href="#">Loopa Automate - remarket your listings</a></li>
                                    <li><a href="#">Prospecting &amp; Brand Awareness</a></li>
                                </ul>
                            </li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#" class="btn btn-default btn-shadow">Login</a></li>
                        </ul>
                    </div><!-- #menuHeader -->
                </div><!-- ./container -->
            </nav><!-- #mainNav -->
            <!----------  END MAIN NAVIGATION  ---------->
        </header><!-- ./main-header-content -->
    </div><!-- ./main-header-wrapper -->

    <section id="hero" class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h1>Turn browsers into buyers with Loopa Retargeting</h1>
                    <h2>With access to more than 800 million websites across all devices, retargeting can help you reach your audience wherever they go.</h2>
                    <p><a href="#" class="btn btn-green btn-lg">Get Started Now @RenderBody()</a></p>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </section><!-- #/hero -->

    

    <section id="dummy1" class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Introducing Loopa Automate</h1>
                    <p>Designed and built for the Online Classifieds Industry, Loopa Automate provides remarketing solutions for your online portal whereby real-estate listings (or auto, boating, bikes and job listings to name a few) can be automatically displayed in Facebook, Instagram, Google, Yahoo!, news sites and 1000 + websites in your region. Best still - your portal receives additional revenue from utilising your 1st party data. Contact us to know more!</p>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </section><!-- #/ -->

    <section id="" class="section-content bg-grad">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Retargeting puts your brand in front of the right audience, in the <strong>right place</strong>, at the <strong>right time</strong>.</h3>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </section><!-- #/ -->

    <section id="dummy2" class="section-content bg-smoke">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1> Loopa Automate generates new revenue for your online portal! </h1>
                    <p>With no set up costs, our loopa automate system provides dynamic retargeting to your audience across many advertising channels..</p>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </section><!-- #/ -->

    <section id="" class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Praesent ac dapibus urna</h1>
                    <p>Integer posuere ligula metus, pharetra gravida mi placerat at. Mauris id maximus magna, a sollicitudin est. Aenean placerat egestas arcu, sed gravida sem fermentum id. Donec tempor purus sit amet elit tempus efficitur non et augue. Proin augue tortor, tincidunt vitae mi vitae, tempor scelerisque justo.</p>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </section><!-- #/ -->

    <section id="" class="section-content bg-grad">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-1">
                    <h2><strong>Just a simple script on your site</strong> and we're ready to go.</h2>
                </div>
                <div class="col-xs-12 col-lg-3 btn-block">
                    <a href="#" class="btn btn-white btn-lg">Get Started Now</a>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </section><!-- #/ -->

    <footer id="" class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7 footlinks">
                    <ul class="ul-footlinks">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <ul class="ul-footlinks">
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Data Protection</a></li>
                    </ul>
                    <ul class="ul-footlinks">
                        <li><a href="#">White Paper</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-5 social">
                    <ul class="ul-social">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </footer><!-- #/ -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>
