@charset "utf-8";
/* Icomoon */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?27y46s');
  src:  url('../fonts/icomoon.eot?27y46s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?27y46s') format('truetype'),
    url('../fonts/icomoon.woff?27y46s') format('woff'),
    url('../fonts/icomoon.svg?27y46s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #7e8ea0;
}
.icon-instagram:before {
  content: "\e901";
  color: #7e8ea0;
}
.icon-linkedin:before {
  content: "\e902";
  color: #7e8ea0;
}
.icon-twitter:before {
  content: "\e903";
  color: #7e8ea0;
}



/* Global */
body {
	background-color: #fff;
	color: #2a2b2c;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
}
::-webkit-input-placeholder {
	color: #9c9b9a !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}
:-moz-placeholder {
	color: #9c9b9a !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}
::-moz-placeholder {
	color: #9c9b9a !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}
:-ms-input-placeholder {  
	color: #9c9b9a !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}
.placeholder {
	color: #9c9b9a !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 900;
	margin: 0 0 10px;
	text-align: center;
}
h1 {
	/*color: #fff;*/
	font-size: 30px;
	font-size: 3rem;
}
h2 {
	/*color: #202020;*/
	font-size: 24px;
	font-size: 2.4rem;
}
h3 {
	/*color: #202020;*/
	font-size: 20px;
	font-size: 2rem;
}
h4 {
	/*color: #202020;*/
	font-size: 18px;
	font-size: 1.8rem;
}
a, a:hover, a:active, a:focus, a.active {
	outline: none;
	text-decoration: none;
}
a, button {
	color: #35a8e0;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
a:hover, a:focus, button:hover, button:focus {
	color: #2a2b2c;
	text-decoration: underline;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
p {
	margin-bottom: 10px;
	text-align: center;
}
/*.page-header {
	border-bottom: 1px solid #ddd;
}
.page-header h1 {
	margin: 0;
}*/
.update-ie {
	background-color: #b73137;
	color: #fff;
	display: none;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}
.lt-ie9 .update-ie {
	display: block;
}
.lt-ie9 body {
	padding-top: 140px;
}
.lt-ie9 .navbar-fixed-top {
	top: 40px;
}
strong {
	font-weight: 700;
}

/* Buttons */
.btn {
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	font-size: 16px;
	font-size: 1.6rem;
}
.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus {
	box-shadow: none;
	outline: none;
}
.btn-shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-lg {
		border-radius: 30px;
	border-width: 1px;
		font-size: 20px;
		font-size: 2rem;
	font-weight: 700;
		padding: 15px 30px;
}
.btn-primary {
	background-color: transparent;
	border-color: #37A8DE;
	color: #37A8DE;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #37A8DE;
	border-color: #37A8DE;
	color: #fff;
}
.btn-blue {
	background-color: #37A8DE;
	border-color: #37A8DE;
	color: #fff;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
	background-color: transparent;
	border-color: #37A8DE;
	color: #37A8DE;
}
.btn-green {
	background-color: #92BF22;
	border-color: #92BF22;
	color: #fff;
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
	background-color: transparent;
	border-color: #92BF22;
	color: #92BF22;
}
.btn-white {
	background-color: #fff;
	border-color: #fff;
	color: #2a2b2c;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}

/* Header */
.main-header-wrapper {
	background-color: #fff;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	z-index:999;
}
.main-header-wrapper.bg-nav {
	position: fixed;
	top: auto;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.main-header-content {
	height: 50px;
	/*overflow: hidden;*/
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.main-header-wrapper.bg-nav .main-header-content {
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
#mainNav.navbar {
	background-color: #fff;
	margin-bottom: 0;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.main-header-wrapper.bg-nav #mainNav.navbar {
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
#mainNav.bg-nav, .navbar.mobile-nav-bg {
}
.navbar-toggle .icon-bar {
	background-color: #000;
}
#mainNav .navbar-header {
	/*width: 100%;*/
	margin-left: 0;
	margin-right: 0;
}
#mainNav .navbar-toggle {
	margin-right: 0;
}
#menuHeader {
}
#menuHeader .nav.navbar-nav.navbar-right {
	/*float: none !important;*/
}
#mainNav .navbar-brand {
	display: block;
	margin: 0 auto;
	font-size: 0;
	background: url(../img/logo.png) no-repeat left center;
	background-size: contain;
	padding: 5px;
	position: relative;
	width: 120px;
}
#mainNav .navbar-brand:after {
	color: #9c9b9a;
	content: "by SignifiMedia";
	display: block;
	position: absolute;
	font-size: 10px;
	right: -70px;
	top: 15px;
}
#mainNav .navbar-nav > li + li {
}
#mainNav .navbar-nav > li > a {
	color: #2a2b2c;
	font-weight: 400;
}
#mainNav .navbar-nav > li > a:hover {
	color: #7d7e7f;
}
#mainNav .navbar-nav > li > a:hover, #mainNav .navbar-nav > li > a:focus {
	background-color: transparent;
}
#mainNav .navbar-nav > li > a.btn {
}
#mainNav .navbar-nav > li > a.btn-primary {
	color: #37A8DE;
}
#mainNav .navbar-nav > li > a.btn-primary:hover {
	background-color: #37A8DE;
	color: #fff;
}
#mainNav .navbar-nav > li > a.btn-default:hover {
	background-color: #fafafa;
}
#mainNav .navbar-nav > li.dropdown.open > a, #mainNav .navbar-nav > li.dropdown.open > a:hover, #mainNav .navbar-nav > li.dropdown.open > a:focus {
	background-color: transparent;
}
#mainNav .navbar-nav > li.active > a {
}
#mainNav .navbar-nav .dropdown-menu {
	background-color: rgba(255, 255, 255, 1);
	border: none;
}
#mainNav .navbar-nav .dropdown-menu > li > a {
	color: #2a2b2c;
}
#mainNav .navbar-nav .dropdown-menu > li > a:hover, #mainNav .navbar-nav .dropdown-menu > li > a:focus {
	background-color: #35a8e0;
	color: #fff;
}

/* Footer */
footer {
	background-color: #252C34;
}
footer a {
	color: #7e8ea0;
}
footer a:hover {
	color: #fff;
}
footer .ul-footlinks {
	display: inline-block;
	line-height: 36px;
	vertical-align: top;
}
footer .ul-footlinks + .ul-footlinks {
}
footer .social {
	text-align: center;
}
footer .ul-social {
}
footer .ul-social li {
	display: inline-block;
	vertical-align: middle;	
}
footer .ul-social li + li {
	margin-left: 10px;
}
footer .ul-social li a {
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
footer .ul-social li a:hover {
	text-decoration: none;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
footer .ul-social li a > span:before {
	font-size: 32px;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
footer .ul-social li a:hover > span:before {
	color: #fff;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}

/* Content */
body > .section-content > .container {
	padding-bottom: 40px;
	padding-top: 40px;
}
.container.no-padding {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.container.no-padding > .row:last-child, .container.no-padding > .row:last-child:only-child {
	margin-bottom: 0 !important;
}
.row + .row {
	margin-top: 20px;
}
.row.panel-row * {
	text-align: center;
}
.row.panel-row + .row.panel-row {
	margin-top: 5px !important;
}
.panel-default>.panel-heading {
	background-color: #fff;
	border-bottom: none;
}
.panel-title {
	font-weight: 700;
}
.panel-body {
	padding-top: 0;
}
.row.list-row * {
	text-align: center;
}
.bg-white {
	background-color: #fff !important;
}
.bg-dark {
	background-color: #1c1c1c !important;
}
.bg-smoke {
	background-color: #f9f9f9 !important;
}
.bg-grad {
	background: #37a8de !important; /* Old browsers */
background: -moz-linear-gradient(left, #37a8de 1%, #92bf22 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(left, #37a8de 1%,#92bf22 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #37a8de 1%,#92bf22 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37a8de', endColorstr='#92bf22',GradientType=1 ) !important;
}
.bg-grad h2 {
	color: #fff;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 0;
}
.bg-grad h3 {
	color: #fff;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0;
}
.bg-grad .btn-block {
	text-align: center;
	padding-top: 20px;
}
.section-headings {
	min-height: 400px;
	padding-top: 50px;
}
.section-headings.section-content > .container {
	padding-top: 10px;
}
.section-headings h1, .section-headings h2 {
	line-height: normal;
	margin-bottom: 20px;
}
.section-headings h1 {
	font-size: 34px;
	font-size: 3.4rem;
	padding-top: 30px;
}
.section-headings h2 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
}
#hero {
	background-image: url(../img/loopa-retargeting-example-of-remarketing-image.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 95%;
	border-bottom: 4px solid #92BF22;
	height: 100vh;
	padding-top: 50px;
}
#hero .container {
}
#hero h1, #hero h2, #hero p {
	line-height: normal;
	margin-bottom: 20px;
}
#hero h1 {
	font-size: 36px;
	font-size: 3.6rem;
}
#hero h2 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
}
#slogos {
	background-color: #f9f9f9;
	padding-bottom: 15px;
	padding-top: 15px;
}
.ul-slogos {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.ul-slogos > li {
	display: inline-block;
	vertical-align: middle;
}
.ul-slogos > li > a {
	display: block;
}
.ul-slogos > li > a > img {
		max-height: 20px;
}
#dummy1 {
	background-image: url(../img/img-retargeting.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 85%;
	padding-bottom: 100px;
}
#dummy2 {
	background-image: url(../img/img-devices.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 40%;
	padding-bottom: 250px;
}

/* RESPONSIVE CSS */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#mainNav.navbar, #mainNav .navbar-header, #menuHeader {
		display: flex !important;
	}
	.main-header-content {
		height: 120px;
	}
	.main-header-wrapper.bg-nav .main-header-content {
		height: 90px;
	}
	#mainNav.navbar {
		padding-top: 30px;
		height: 120px;
	}
	.main-header-wrapper.bg-nav #mainNav.navbar {
		height: 90px;
		padding-top: 10px;
	}
	#menuHeader .nav.navbar-nav.navbar-right {
		margin-top: 15px;
	}
	#mainNav .navbar-brand {
		width: 200px;
	}
	#mainNav .navbar-brand:after {
		font-size: 14px;
		font-size: 1.4rem;
		bottom: -5px;
		right: 0;
		top: auto;
	}
	#mainNav .navbar-nav > li + li {
		margin-left: 5px;
	}
	#mainNav .navbar-nav > li > a {
		font-size: 14px;
		font-size: 1.4rem;
		padding: 10px;
	}
	#mainNav .navbar-nav > li > a.btn {
		border-radius: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#mainNav .navbar-nav .dropdown-menu {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		font-size: 12px;
		font-size: 1.2rem;
	}
	#mainNav .navbar-nav .dropdown-menu > li > a {
		font-size: 14px;
		font-size: 1.4rem;
		padding: 10px 20px;
	}
	footer .ul-footlinks + .ul-footlinks {
		margin-left: 30px;
	}
	footer .ul-social {
		margin-top: 60px;
		text-align: left;
	}
	footer .ul-social li + li {
		margin-left: 15px;
	}
	.row + .row {
		margin-top: 40px;
	}
	.row.panel-row + .row.panel-row {
		margin-top: 10px !important;
	}
	.panel-title {
		font-size: 20px;
		font-size: 2rem;
	}
	.bg-grad h2 {
		font-size: 32px;
		font-size: 3.2rem;
	}
	.bg-grad h3 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	.bg-grad .btn-block {
	}
	.section-headings {
		min-height: 600px;
		padding-top: 120px;
	}
	.section-headings.section-content > .container {
		padding-top: 20px;
	}
	.section-headings h1, .section-headings h2 {
		margin-bottom: 20px;
		text-align: left;
	}
	.section-headings h1 {
		font-size: 34px;
		font-size: 3.4rem;
		padding-top: 30px;
	}
	.section-headings h2 {
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: 400;
	}
	#hero {
		background-position: 95% bottom;
		background-size: 40%;
		padding-top: 120px;
	}
	#hero h1, #hero h2, #hero p {
		margin-bottom: 30px;
		text-align: left;
		width: 600px;
	}
	#hero h1 {
		font-size: 50px;
		font-size: 5rem;
	}
	#hero h2 {
		font-size: 22px;
		font-size: 2.2rem;
		margin-bottom: 50px;
	}
	#slogos {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	.ul-slogos > li {
		min-width: 20px;
		max-width: 200px;
	}
	.ul-slogos > li > a {
		padding: 15px 10px;
	}
	#dummy1 {
		background-size: 70%;
		background-position: center bottom;
		padding-bottom: 80px;
	}
	#dummy2 {
		background-position: center bottom;
		background-size: 40%;
		padding-bottom: 350px;
	}
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#mainNav .navbar-brand {
		width: 300px;
	}
	#mainNav .navbar-brand:after {
		bottom: -15px;
	}
	.bg-nav #mainNav .navbar-brand {
		width: 200px;
	}
	.bg-nav #mainNav .navbar-brand:after {
		bottom: -5px;
	}
	#menuHeader {
		display: block !important;
	}
	#mainNav .navbar-nav > li + li {
		margin-left: 10px;
	}
	#mainNav .navbar-nav > li > a {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	#mainNav .navbar-nav > li > a.btn {
		border-radius: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}
	#dummy1 {
		background-size: 40%;
		padding-bottom: 250px;
	}
	#dummy2 {
		background-size: 30%;
		padding-bottom: 350px;
	}
	footer .ul-social {
		text-align: right;
	}
	.row.panel-row * {
		text-align: left;
	}
	.row.list-row * {
		text-align: left;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body > .section-content > .container {
		padding-bottom: 80px;
		padding-top: 80px;
	}
	#mainNav .navbar-nav > li > a {
		font-size: 16px;
		font-size: 1.6rem;
		padding: 10px 15px;
	}
	#mainNav .navbar-nav > li > a.btn {
		padding-left: 30px;
		padding-right: 30px;
	}
	#mainNav .navbar-nav .dropdown-menu {
		font-size: 16px;
		font-size: 1.6rem;
	}
	.bg-grad .btn-block {
		display: inline-block;
		text-align: right;
		width: auto;
	}
	.bg-grad h3 {
		padding: 0 250px;
	}
	#dummy1 {
		background-size: 55%;
		padding-bottom: 250px;
	}
	#dummy2 {
		background-size: 30%;
	}
	.bg-grad .btn-block {
		padding-top: 0;
	}
}

/* 1080p devices (large desktops, 1920px and up) */
@media (min-width: 1920px) {
}